{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Course Planner

{% endblock %}


{% block content %}

    <h1>{{ class.name }}</h1>


    <article>

        <ul>
            {% for topics in class %}

                <li>
                    <a href="/topic/{{ topic.id }}">
                        {{ topic.name }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


    <article>

        <h3><a href="">Add a new Topic</a></h3>

    </article>

{% endblock %}

