{#=====================================================
  singular class list page
  - List of topicss passed in as 'topics' array
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Course Planner

{% endblock %}


{% block content %}

    <h1>{{ clas.name }}</h1>


    <article>

        <ul>
            {% for topic in topics %}
                {% if topic.done == 0 %}
                    <li>
                        <a href="/topic/{{ topic.id }}">
                            {{ topic.name }}
                        </a>
                    </li>
                {% endif %}    

            {% else %}
                <p>None!</p>
            {% endfor %}           
        </ul>

        <h3>Completed Topics:</h3>

        <ul>
            {% for topic in topics %}
                {% if topic.done == 1 %}
                    <li>
                        <a href="/topic/{{ topic.id }}">
                            {{ topic.name }}
                        </a>
                    </li>
                {% endif %}

            {% else %}
                <p>None!</p>
            {% endfor %}
        </ul>

    </article>


    <article>

        <h3><a href="newTopicForm">Add a new Topic</a></h3>

    </article>

    <a role="button" href="/">Back to Classes List</a>

{% endblock %}

