{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Course Planner

{% endblock %}


{% block content %}

    <h1>Classes</h1>

    {% for class in classes %}
        <li>
            <div>
                <p>
                    <a href="/class/{{ class.id }}">
                        {{ class.name }}
                    </a> - 
                    {% for topic in topics %}
                        {% if topic.class_id == class.id and topic.current %}
                            <a href="/topic/{{ topic.id }}">Current topic: {{ topic.name }}</a> -
                        {% endif %}
                    {% endfor%}
                    <a href="deleteClass/{{ class.id }}" onclick="return confirm('Really delete?');">Delete class?</a>
                </p>            
            </div>
        </li>
    {% endfor %}

    <a role="button" href="/newClassForm">Add a new class</a>
    <a role="button" href="/about">About</a>
{% endblock %}

