{#=====================================================
  Topic Page
  - shows user details of a single topic
  - steps of topic passed in as "steps" array
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Course Planner

{% endblock %}


{% block content %}

    <h1><a href="/class/{{ topic.class_id }}">Class</a> --> {{ topic.name }}</h1>

    <article>

        <h3>Incomplete steps:</h3>

        <ul>
            {% for step in steps %}
                {% if step.done == 0 %}
                    <li>
                        <a href="/step/{{ step.id }}">
                            {{ step.name }}
                        </a>
                    </li>
                {% endif %}    

            {% else %}
                <p>None!</p>
            {% endfor %}           
        </ul>

        <strong>Completed steps:</strong>

        <ul>
            {% for step in steps %}
                {% if step.done == 1 %}
                    <li>
                        <a href="/step/{{ step.id }}">
                            {{ step.name }}
                        </a>
                    </li>
                {% endif %}

            {% else %}
                <p>None!</p>
            {% endfor %}
        </ul>

    </article>

    <article>

        <h3><a href="/newStepForm">Add a new Step</a></h3>

    </article>

    <a role="button" href="/">Back to Classes List</a>

{% endblock %}

