{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Course Planner

{% endblock %}


{% block content %}

    <h1>{{ topic.name }}</h1>

    <ul>
        {% for step in steps %}
            <li>
                <a href="/step/{{ step.id }}">
                    {{ step.name }}
                </a>                
            </li>

        {% else %}

            <p>None!</p>

        {% endfor %}
    </ul>

    <a role="button" href="/">Back to Classes List</a>

{% endblock %}

