{#=====================================================
  Topic Page
  - shows user details of a single topic
  - steps of topic passed in as "steps" array
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Course Planner

{% endblock %}


{% block content %}

    <h1><a href="/class/{{ topic.class_id }}">Class</a> --> {{ topic.name }}</h1>

    <article>
        <h3>Information</h3>
        <p>External: {% if topic.external == 1 %} yes {% else %} no {% endif %}</p>
        <p>Internal: {% if topic.internal == 1 %} yes {% else %} no {% endif %}</p>
        <p>Credits: {% if topic.credits > 1 %} {{ topic.credits }} {% else %} none {% endif %}</p>
        <p>Standard number: {% if topic.standard_number != 0 %} {{ topic.standard_number }} {% else %} NA/doesn't exist {%endif%}</p>
        <p>Current: {% if topic.current == 1 %} yes {% else %} no {% endif %}</p>
        <p>Done: {% if topic.done == 1 %} yes {% else %} no {% endif %}</p>
        <p>Description: {{ topic.description }}</p>
    </article>

    <article>

        <h3>Current steps:</h3>

        <ul>
            {% for step in steps %}
                {% if step.current == 1 %}
                    <li>
                        <a href="/step/{{ step.id }}">
                            {{ step.name }}
                        </a>
                    </li>
                {% endif %}    

            {% else %}
                <p>None!</p>
            {% endfor %}           
        </ul>

        <h3>Incomplete steps:</h3>

        <ul>
            {% for step in steps %}
                {% if step.done == 0 %}
                    <li>
                        <a href="/step/{{ step.id }}">
                            {{ step.name }}
                        </a>
                    </li>
                {% endif %}    

            {% else %}
                <p>None!</p>
            {% endfor %}           
        </ul>

        <strong>Completed steps:</strong>

        <ul>
            {% for step in steps %}
                {% if step.done == 1 %}
                    <li>
                        <a href="/step/{{ step.id }}">
                            {{ step.name }}
                        </a>
                    </li>
                {% endif %}

            {% else %}
                <p>None!</p>
            {% endfor %}
        </ul>

    </article>

    <article>

        <h3><a href="/newStepForm">Add a new Step</a></h3>

        <h3><a onclick="return confirm('Really delete?');" href="/deleteTopic/{{ topic.id }}">Delete?</a></h3>

    </article>

    <a role="button" href="/">Back to Classes List</a>

{% endblock %}

